<div class="main">
  <p class="sign" align="center">Sign Up</p>
  <input class="un" type="text" align="center" placeholder="Name" [(ngModel)]="name" required>
  <input class="un" type="text" align="center" placeholder="Email" [(ngModel)]="email" required>
  <input class="un " type="text" align="center" placeholder="Username" required [(ngModel)]="login">
  <input class="pass" type="password" align="center" placeholder="Password" required [(ngModel)]="password">
  <input class="pass" type="password" align="center" placeholder="Confirm password" required [(ngModel)]="confirm">
  <a class="submit" align="center" (click)="signup()">Sign up</a>
</div>
