<div class="main" >
  <p class="sign" align="center">Create new dish</p>
  <input  class="un " type="text" align="center" placeholder="Name" [(ngModel)]="name" required>
  <input  class="un " type="text" align="center" placeholder="price" [(ngModel)]="price" required>
  <input  class="un " type="text" align="center" placeholder="imageUrl" [(ngModel)]="imageUrl" required>
  <input  class="un " type="text" align="center" placeholder="description" [(ngModel)]="description" required>
  <button class="submit" (click)="putDish()">Apply changes</button>

</div>
